html, body{
    margin: auto;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
	width: auto;


}
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
  body {
    background: #999;
    width: 100%;
  }
}


@media (max-width: 768px) {
    .open {
        display: none !important;
    }
}
@media (min-width: 769px) {
    .open {
        display: block !important;
		word-spacing: 15px;
    }
}


@media (max-width: 768px) {
    .socicons {
        display: inline-block !important;

    }
}
@media (min-width: 769px) {
    .socicons {
        display: block !important;
    }
}
#home2 {
  -moz-animation-duration: 3s;
  -webkit-animation-delay: 1s;
  -o-animation-iteration-count: infinite;
}

#home3 {
  -moz-animation-duration: 3s;
  -webkit-animation-delay: 2s;
  -o-animation-iteration-count: infinite;
}
#contactform {
  -moz-animation-duration: 3s;
  -webkit-animation-delay: 2s;
  -o-animation-iteration-count: infinite;
}
#aboutbox {
  text-align: center;
  -moz-animation-duration: 3s;
  -webkit-animation-delay: 0s;
  -o-animation-iteration-count: infinite;
}



.open {
margin-top: -30px;
  position: fixed;
  top: 40px;
  right: 40px;
  width: 50px;
  height: 50px;
  display: block;
  cursor: pointer;
  transition: opacity 0.5s linear;
  z-index: 20;

}

.open:hover { opacity: 0.8; }

.open span {
  display: block;
  float: left;
  clear: both;
  height: 10px;
  width: 40px;
  border-radius: 40px;
  background-color: black;
  position: absolute;
  padding-bottom: 10px;
  right: 3px;
  top: 3px;
  overflow: hidden;
  transition: all 1.0s ease;
}

.open span:nth-child(1) {
  margin-top: 10px;
  z-index: 9;
}

.open span:nth-child(2) { margin-top: 25px; }

.open span:nth-child(3) { margin-top: 40px; }

.sub-menu {
  transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  height: 0;
  width: 0;
  right: 0;
  top: 0;
  position: absolute;
  background-color: rgba(38, 84, 133, 0.54);
  border-radius: 50%;
  z-index: 18;
  overflow: hidden;
}

.sub-menu li {
  display: block;
  float: right;
  clear: both;
  height: auto;
  margin-right: -160px;
  transition: all 0.5s cubic-bezier (0.68, -0.55, 0.265, 1.55);
}

.sub-menu li:first-child { margin-top: 180px; }

.sub-menu li:nth-child(1) { -webkit-transition-delay: 0.05s; }

.sub-menu li:nth-child(2) { -webkit-transition-delay: 0.10s; }

.sub-menu li:nth-child(3) { -webkit-transition-delay: 0.15s; }

.sub-menu li:nth-child(4) { -webkit-transition-delay: 0.20s; }

.sub-menu li:nth-child(5) { -webkit-transition-delay: 0.25s; }

.sub-menu li a {
	margin-top: 10px;
  color: #fff;
  font-family: 'Coiny', Arial, Helvetica, sans-serif;
  font-size: 30px;
  width: 100%;
  display: block;
  float: left;
  line-height: 30px;
  text-decoration:none;
}
.sub-menu li a:hover {
	background-color: grey;
    opacity: .3;
}
.oppenned .sub-menu {
  opacity: .8;
  height: 400px;
  width: 400px;
}

.oppenned span:nth-child(2) { overflow: visible; }

.oppenned span:nth-child(1),
.oppenned span:nth-child(3) {
  z-index: 100;
  transform: rotate(45deg);
}

.oppenned span:nth-child(1) { transform: rotate(45deg) translateY(12px) translateX(12px); }

.oppenned span:nth-child(2) {
  height: 400px;
  width: 400px;
  right: -160px;
  top: -160px;
  border-radius: 50%;
  background-color: rgba(38, 84, 133, 0.54);
}

.oppenned span:nth-child(3) { transform: rotate(-45deg) translateY(-10px) translateX(10px); }

.oppenned li {
margin-right: 168px;
 }




.socicons {
	@media screen and (max-width:680px)
	display: hidden;
	font-size:30px;
  position:relative;
  padding-bottom: 15px;
	text-align: center;
}


.fa-paper-plane {
  color: white;
  background-color: black;
  padding: 5px;
  border: 2px solid black;
border-radius: 25px;
}
.fa-paper-plane:hover {
  background-color: red;
}
.fa-home {
  color: white;
  background-color: black;
  padding: 5px;
  border: 2px solid black;
border-radius: 25px;
}
.fa-home:hover {
  background-color: red;
}


.main {
  background-color: rgb(151, 218, 207);
  position: relative;
  top: 100px;
  text-align: center;
  padding-top: 70px;
  margin-top: -150px;

  width: auto;
  height: 870px;
  min-height: 628px;
 -moz-background-size: 100% 100%;
 -webkit-background-size: 100% 100%;
 -o-background-size: 100% 100%;
 z-index: 1;

}
.main::after {
  content: "";
  background: url("http://fellowproducts.com/wp-content/uploads/2015/05/brewingbasicshorizontal.jpg")no-repeat center center;
  image-rendering: -webkit-optimize-contrast;
  -webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
  opacity: 0.6;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}


	.main h2 {
    color: black;
    font-family: 'Lobster', 'Raleway', sans-serif;
  font-weight: 600;
  font-size: 40px;
  margin-top: 0;
  margin-bottom: 80px;
  text-transform: uppercase;
}
.main p {
  color: black;
  font-family: 'Lobster', 'Raleway', sans-serif;
font-weight: 600;
font-size: 30px;
margin-top: 0;
margin-bottom: 80px;
text-transform: uppercase;
}
.about {
  margin-top: 53px;
    position: relative;
    height: 1500px;
	width: auto;
  min-height: 628px;
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    background-size: 100% 100%;
    padding-top: 40px;

}

.about h1 {
  font-family: 'Lobster', 'Raleway', sans-serif;
  display: block;
  position: relative;
  text-align: center;
   display: block;
   color: black;
   letter-spacing: 2px;
    font-size: 45px;

}

.about::after {
  content: "";
  background: url("http://dcldge.files.wordpress.com/2012/03/albany1.jpg")no-repeat center center;
  image-rendering: -webkit-optimize-contrast;
  -webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
  opacity: 0.6;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}
@import "compass/css3";


@import "compass/reset";
$fontSans : 'Coiny', sans-serif;




@mixin transition($transition-property, $transition-time, $method) {
    -webkit-transition: $transition-property $transition-time $method;
    -moz-transition: $transition-property $transition-time $method;
    -ms-transition: $transition-property $transition-time $method;
    -o-transition: $transition-property $transition-time $method;
    transition: $transition-property $transition-time $method;
}
*{ box-sizing:border-box;}



 .bar {
 	background: rgb(73, 188, 169);
 	width: 0;
 	margin: .25em 0;
 	color: black;
 	position: relative;
 	 transition:width 5s, background 2s;
   -webkit-transform: translate3d(0,0,0);
 	 clear: both;
 	 &:nth-of-type(2n) {
 	 	background:lighten($red , 10% );
 	 }
 	 .label {
		font-size: .75em;
		padding: 1em;
		background: $dark;
		width: 8em;
		display: inline-block;
		position: relative;
		z-index: 2;
		font-weight: bold;
		font-family: $fontSans;
		 &.light {

 	 }

}
 }
 .count {
	position: absolute;
	right: .25em;
	top: .75em;
 	padding: .15em;
	font-size: .75em;
	font-weight: bold;
	font-family: $fontSans;
 }


#header {
    width: 100%;
    z-index: 100;
}



#header-wrap {
    position: relative;
}
#section3 {
  margin-top: -35px;
    position: relative;
    height: 1000px;
  width: auto;
  min-height: 628px;


}
.thumbnail:hover {
  background-color: grey;
}


    .contact {
	background-color: rgb(198, 214, 239);
    	position: absolute;
        height: 1000px;
    	width: 100%;
    	max-width: auto;

    	text-align: center;
	z-index: 1;
	position: center center;
    	width: cover;
    	max-height: auto;


    }

    .contact h1 h3 p{
    	position: center center;
    	font-family: "Lobster", sans-serif;

    }
.btn-submit {
	background-color: #5FBA7D;
}
