.open {
  cursor: pointer;
  display: block;
  height: 50px;
  position: fixed;
  padding: 0;
  top: 40px;
  right: 20px;
  transition: opacity 0.5s linear;
  width: 50px;
  z-index: 20;


}

.open:hover { color: red; }

.open span {
  background-color: black;
  border-radius: 40px;
  clear: both;
  display: block;
  float: left;
  height: 10px;
  overflow: hidden;
  position: absolute;
  right: 3px;
  top: 3px;
  transition: all 1.0s ease;
  width: 40px;

  &:hover {
    color: red;
  }
}

.open span:nth-child(1) {
  margin-top: 10px;
  z-index: 9;
}

.open span:nth-child(2) { margin-top: 25px; }

.open span:nth-child(3) { margin-top: 40px; }

.sub-menu {
  background-color: rgba(38, 84, 133, 0.54);
  border-radius: 50%;
  height: 0;
  overflow: hidden;
  position: absolute;
  right: 0;
  top: 0;
  transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  width: 0;
  z-index: 18;
}

.sub-menu li {
  clear: both;
  display: block;
  float: right;
  height: auto;
  margin-right: -160px;
  transition: all 0.5s cubic-bezier (0.68, -0.55, 0.265, 1.55);
}

.sub-menu li:first-child { margin-top: 180px; }

.sub-menu li:nth-child(1) { -webkit-transition-delay: 0.05s; }

.sub-menu li:nth-child(2) { -webkit-transition-delay: 0.10s; }

.sub-menu li:nth-child(3) { -webkit-transition-delay: 0.15s; }

.sub-menu li:nth-child(4) { -webkit-transition-delay: 0.20s; }

.sub-menu li:nth-child(5) { -webkit-transition-delay: 0.25s; }

.sub-menu li a {
  margin-top: 10px;
  color: #fff;
  display: block;
  float: left;
  font-family: 'Coiny', Arial, Helvetica, sans-serif;
  font-size: 30px;
  line-height: 30px;
  text-decoration:none;
  width: 100%;
}
.sub-menu li a:hover {

    opacity: .3;
}
.oppenned .sub-menu {
  height: 400px;
  opacity: .8;
  width: 400px;
}

.oppenned span:nth-child(2) { overflow: visible; }

.oppenned span:nth-child(1),
.oppenned span:nth-child(3) {
  z-index: 100;
  transform: rotate(45deg);
}

.oppenned span:nth-child(1) { transform: rotate(45deg) translateY(12px) translateX(12px); }

.oppenned span:nth-child(2) {
  height: 400px;
  width: 400px;
  right: -160px;
  top: -160px;
  border-radius: 50%;
  background-color: rgba(38, 84, 133, 0.54);
}

.oppenned span:nth-child(3) { transform: rotate(-45deg) translateY(-10px) translateX(10px); }

.oppenned li {
margin-right: 168px;
 }