@import "0-plugins/plugins-dir";
@import "variables";
@import "nav-menu";
@import "sidebar";
@import "socicons";
@import "portfolio-thumbnails";

body {
  padding: 0;
  margin: 0 auto;
  width: 100%;
}
.top {
  height: 100vh;
  position: relative;
  text-align: center;
  font-family: $mainFont;

h1 {
  font-size: 3em;
}
h2, h3 {
  font-size: 2em;
}


h1,h2,h3 {
  font-weight: bold;
}
@include grid-media($desktop) {
h1 {
  font-size: 5em;
}
 h2 {
  font-size: 4em;
}
 h3 {
  font-size: 2em;
}
}
}
.top::after {
   content: "";
  -webkit-background-size: cover;
  background: url("../images/albany1.jpg")no-repeat center center;
  bottom: 0;
  image-rendering: -webkit-optimize-contrast;
  left: 0;
  opacity: 0.4;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
}



.about {

  height: 100%;
	text-align: center;
	position: relative;
 	z-index: 1;


 h2 {
  font-family: $secondaryFont;
  display: block;
  text-align: center;
  display: block;
  color: white;
  letter-spacing: 2px;
  font-size: 45px;

  }

  #work {
    @include grid-column(9);
    line-height: 2;
    color: black;
    font-family: $mainFont;
    font-size: 1.5em;
    text-align: left;
    list-style: none;
 @include grid-media($desktop) {
  @include grid-column(5);
    @include grid-shift(.5);
}
  }
  #workP {
    line-height: 1;
    font-size: 1em;
  }




 
 p {
@include grid-column(12);
  font-family: $mainFont;
  line-height: 1;
  font-size: 1.5em;
  text-align: center;

    @include grid-media($desktop) {
  @include grid-column(4);
  @include grid-shift(1);

  }
}
  h4 {font-family:$mainFont; 
    text-align:center;
}

@mixin transition($transition-property, $transition-time, $method) {
    -webkit-transition: $transition-property $transition-time $method;
    -moz-transition: $transition-property $transition-time $method;
    -ms-transition: $transition-property $transition-time $method;
    -o-transition: $transition-property $transition-time $method;
    transition: $transition-property $transition-time $method;
  }



 .bar {
  @include grid-shift(1);
  padding: 1%;
 	background: lighten(red , 20% );
  border: 1px solid black;
  border-radius: 25px;
 	width: 0;
 	margin: .25em 0;
 	position: relative;
 	 transition:width 5s, background 2s;
   -webkit-transform: translate3d(0,0,0);
 	 clear: both;
 	 &:nth-of-type(2n) {
 	 	background:lighten(red , 20% );
 	 }


 	 .label {
		font-size: .75em;
		padding: 1em;
    font-size: 1em;
    font-family: $mainFont;
		width: auto;
		display: inline-block;
		position: relative;
		z-index: 2;
		font-weight: bold;
		font-family: sans-serif;
		 &.light {

 	 }


}
 }
}

.about::after {
   content: "";
  -webkit-background-size: 100%;
  background: url("../images/brewingbasicshorizontal.jpg")no-repeat center center;
  bottom: 0;
  image-rendering: -webkit-optimize-contrast;
  left: 0;
  opacity: 0.4;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
}
 .count {
	position: absolute;
	right: .25em;
	top: .75em;
 	padding: .15em;
	font-size: 1em;
	font-weight: bold;
	font-family: $mainFont;
 }

.skills {
  background-color: red;
  height: auto;
  width: 100%;
  background-size: 100%;
}


.box {
@include grid-column(8);
  background-size: cover;
  background: url("https://www.topdraw.com/assets/uploads/2014/02/fetch_file_1.png") no-repeat;
  color: yellow;
  display: block;
  font-family: $mainFont;
  height: 67%;
  height: auto;
  list-style: none;
  padding-bottom: 3%;
  padding-top: 3%;
  position: relative;
  text-align: center;
  @include grid-media($desktop) {
    @include grid-column(5);
    @include grid-shift(1);
  }

}

.box li{
  font-family: $mainFont;
  margin-left: 5%;
  font-weight: bold;
  list-style: none;
  text-align: left;
}



    /* FOOTER */
footer {
  float: left;
  background-color: black;
  color: white;
  padding-top: 0;
  padding: 15px 0;
  text-align: center;
  width: 100%; 
}